@font-face {
  font-family: 'Wotfard';
  /* src: local('wotfard.eot');
    src: local('wotfard.eot?#iefix') format('embedded-opentype'), local('wotfard.woff2') format('woff2'),
        local('wotfard.ttf') format('truetype'); */
  src: url('/fonts/wotfard.otf');
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Bold.ttf');
}
